#addMonster {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px 5px 10px;
	width: 500px;
	height: auto;
	background-color: #33cc33;
	border: 3px solid #000000;
	border-radius: 5%;

	font-family: Impact, Charcoal, sans-serif;
	
}

h2 {
	text-align: center;
}

#submitMonster {
	height: 40px;
	width: 150px;
	font-size: 18px;
}
#attack {
	height: 40px;
	width: 150px;
	font-size: 18px;
}

#attackResults {
	text-align: center;
}

h4 {
	display: inline;
	font-size: 12px;
	font-family: Impact, Charcoal, sans-serif;
}

#dungeonPic {
	display: block;
	float: right;
	margin: 5% 5% 0 5%;
	height: 400px;
	width: 420px;
}

#dungeonPic2 {
	display: inline;
	float: left;
	margin: 5% 5% 0 5%;
	height: 400px;
	width: 400px;
}

.body {
	background-color: black;
}
